<div class="d-flex flex-column h-100">
    <h3 class="text-center mt-3">Chat-App Login</h3>
    <div class="d-flex justify-content-center flex-grow-1 align-items-center">
        <div class="card p-3">
            <form [formGroup]="loginForm">
                <div class="row align-items-center">
                    <div class="col-lg-3">
                        <label class="mb-0">Email</label>
                    </div>
                    <div class="col-lg-9">
                        <input formControlName="email" type="text" class="form-control">
                        <div class="text-danger"
                            *ngIf="loginForm.controls.email.dirty && loginForm.controls.email.errors && loginForm.controls.email.errors.required">
                            Email Required</div>
                        <div *ngIf="loginForm.controls.email.dirty && loginForm.controls.email.errors && loginForm.controls.email.errors.email"
                            class="text-danger">Please Enter Valid Email</div>
                    </div>
                </div>
                <div class="row align-items-center mt-3">
                    <div class="col-lg-3">
                        <label class="mb-0">password</label>
                    </div>
                    <div class="col-lg-9">
                        <input formControlName="password" type="text" class="form-control">
                        <div class="text-danger"
                        *ngIf="loginForm.controls.password.dirty && loginForm.controls.password.errors && loginForm.controls.password.errors.required">
                        Password Required</div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-lg-12 d-flex justify-content-center">
                        <div class="btn btn-primary" (click)="onLogin()">Login</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 d-flex justify-content-end">
                        <div class="btn btn-link" [routerLink]="['/register']" >SingnUp</div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>